@model ISkillsMyApp.Models.Customer
@{
    ViewBag.Title = "Online Books Store Login";
}

<h2> Sign Up</h2>

@using (Html.BeginForm("Index", "Login", FormMethod.Post))

{
    @Html.AntiForgeryToken()
<form>
    <div class="form-group">
        
        <label for="exampleInputEmail1">Email address</label>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
       
        <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Email">
        
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>

        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
   
    <button type="submit" class="btn btn-default">Submit</button>
</form>
}

