
@{
    ViewBag.Title = "regsucc";
}

<h2>regsucc</h2>

<br/>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("login", "Index","Login")
    </div>
</div>

